<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 수정 페이지</title>
</head>
<body>
<h1>상품 수정 페이지</h1>
<form action="/product/updateProduct" method="post">
  <div>
    <label>상품 번호 : </label>
    <input name="productNo"
           readonly th:value="*{productNo}">
  </div>
  <div>
    <label>상품 이름 : </label>
    <input name="productName" th:value="*{productName}"
           type="text">
  </div>

  <div>
    <label>상품 가격 : </label>
    <input name="salePrice" th:value="*{salePrice}"
           type="number">
  </div>
  <button type="submit">상품 등록 완료</button>
  <input onclick="history.back();" type="button" value="뒤로가기"/>

</form>
</body>
</html>